# Ignorar datasets pesados
data/raw/ratings.csv
data/raw/genome-scores.csv
data/raw/genome-tags.csv
data/raw/links.csv
data/raw/movies.csv
data/raw/tags.csv

# Ignorar entornos virtuales y basura del sistema
venv/
__pycache__/
.DS_Store
